//
// Custom overrides to Foundation here.
// This isn't a place to add SUCK.
//

// ---- LAYOUT ----
.pad-top {padding-top: 70px;}

// ---- TYPOGRAPHY ----
.disclosure { font-size: rem-calc(14)}
.text-right { text-align: right}

.links-legal {
  margin: 2.5rem 0 2rem;
  list-style: none;  
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.links-legal li {
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 0 12px 0 0;
  border-right: 1px solid #474747;
  line-height: 0.7rem;
}

.links-legal li:last-child {
  border: none;
}

.links-legal a {
  color: #999;
}

.links-legal a:hover {
  color: #145597;
}

.copy {
  color: #999;  
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
}

// ---- CHART COLORS ----
$chart-color1: $primary-color; //aubergine
$chart-color2: #63666a; // dark gray
$chart-color3: #a7a8aa; // light gray
$chart-color4: $secondary-color; // blue
$chart-color5: #7d9bc1; // light blue
$chart-color6: #4a7729; // dark green
$chart-color7: #719949; // light green
$chart-color8: #004976; // dark blue
$chart-color9: #475F8B; // 75% dark blue
$chart-color10: #a4343a; // red
$chart-color11: #cf7f00; // orange
$chart-color12: #daaa00; // yellow
$chart-color13: #e4b452; // 75% yellow

.chart-color1 {background-color: $chart-color1}
.chart-color2 {background-color: $chart-color2}
.chart-color3 {background-color: $chart-color3}
.chart-color4 {background-color: $chart-color4}
.chart-color5 {background-color: $chart-color5}
.chart-color6 {background-color: $chart-color6}
.chart-color7 {background-color: $chart-color7}
.chart-color8 {background-color: $chart-color8}
.chart-color9 {background-color: $chart-color9}
.chart-color10 {background-color: $chart-color10}
.chart-color11 {background-color: $chart-color11}
.chart-color12 {background-color: $chart-color12}
.chart-color13 {background-color: $chart-color13}

// ---- TABLE ----
table tr td.nowrap {white-space: nowrap}

// ---- NAV BAR ---
.top-bar .nav-title {text-transform: uppercase}

/* line 176, ../scss/app.scss */
.top-bar {  
  font-family: "Guardian TextSans Web", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-weight: 500;
}
/* line 179, ../scss/app.scss */
.top-bar .name {
  display: table;
  height: 50px;
}
/* line 182, ../scss/app.scss */
.top-bar .name h1 {
  display: table-cell;
  vertical-align: middle;
}

/* line 188, ../scss/app.scss */
.top-bar-section ul {
  background: none;
}

/* line 191, ../scss/app.scss */
.top-bar-section .dropdown li {
  padding: 0.15rem 0;
}

/* line 194, ../scss/app.scss */
.top-bar-section ul li > a {
  padding: 10px 16.66667px 8px;
  font-family: "Guardian TextSans Web", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  background: $primary-color;
}
@media (min-width: 63.438rem) {
  /* line 194, ../scss/app.scss */
  .top-bar-section ul li > a {
    padding: 12px 0 12px 0;
    padding-left: 16.66667px;
    background: none;
  }
}

@media (min-width: 63.438rem) {
  /* line 204, ../scss/app.scss */
  .top-bar-section .has-dropdown > a:after {
    border: 0;
  }
}

/* line 209, ../scss/app.scss */
.top-bar-section .has-dropdown > a:hover:after {
  border-color: transparent transparent transparent $primary-color;
}

/* line 213, ../scss/app.scss */
.top-bar-section li:not(.has-form) a:not(.button):hover,
.dropdown,
.top-bar-section ul li:hover:not(.has-form) > a {
  -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

/* line 218, ../scss/app.scss */
.top-bar-section .dropdown {
  background: #31182f;
}
@media (min-width: 63.438rem) {
  /* line 218, ../scss/app.scss */
  .top-bar-section .dropdown {
    padding: 16.66667px 0;
    background: #fff;
  }
}
/* line 224, ../scss/app.scss */
.top-bar-section .dropdown li {
  width: auto;
}

@media (min-width: 63.438rem) {
  /* line 228, ../scss/app.scss */
  .top-bar-section .right li .dropdown {
    left: 0;
    right: auto;
  }
}

/* line 234, ../scss/app.scss */
.top-bar-section .right li .dropdown.dropdown-client-login {
  padding: 5px 0 16.66667px;
}
@media (min-width: 63.438rem) {
  /* line 234, ../scss/app.scss */
  .top-bar-section .right li .dropdown.dropdown-client-login {
    left: auto;
    right: 0;
  }
}
/* line 240, ../scss/app.scss */
.top-bar-section .right li .dropdown.dropdown-client-login li {
  width: 100%;
}

@media (min-width: 63.438rem) {
  /* line 244, ../scss/app.scss */
  .top-bar-section .dropdown .dropdown {
    padding: 0.5rem 0 0;
  }
}
/* line 248, ../scss/app.scss */
.top-bar-section .dropdown .dropdown br {
  display: none;
}
@media (min-width: 63.438rem) {
  /* line 248, ../scss/app.scss */
  .top-bar-section .dropdown .dropdown br {
    display: block;
  }
}

/* line 255, ../scss/app.scss */
.top-bar-section .dropdown li label {
  padding: 15px 20px 0;
  background: none;
  font-family: "Guardian TextSans Web", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #545454;
}

/* line 263, ../scss/app.scss */
.top-bar-section .has-dropdown > a {
  letter-spacing: 0.1rem;
  padding: 10px 16.66667px 8px !important;
}
@media (min-width: 63.438rem) {
  /* line 263, ../scss/app.scss */
  .top-bar-section .has-dropdown > a {
    padding: 0 20px !important;
  }
}

/* line 271, ../scss/app.scss */
.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
  padding: 10px 16.66667px 8px;
  line-height: 1rem;
}
@media (min-width: 63.438rem) {
  /* line 271, ../scss/app.scss */
  .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
    padding: 0 20px;
    color: #5a87b2;
    text-transform: capitalize;
  }
}

/* line 280, ../scss/app.scss */
.top-bar-section .dropdown li:not(.has-form) a:not(.button).nav-title {
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0;
}

@media (min-width: 63.438rem) {
  /* line 280, ../scss/app.scss */
  .top-bar-section .dropdown li:not(.has-form) a:not(.button).nav-title {
    color: #555555;
  }
}

@media (min-width: 63.438rem) {
  /* line 288, ../scss/app.scss */
  .top-bar-section .dropdown li:not(.has-form) a:not(.button).nav-title:hover {
    color: #555555;
  }
}

@media (min-width: 63.438rem) {
  /* line 293, ../scss/app.scss */
  .top-bar-section .dropdown li:not(.has-form) a:not(.button):hover {
    text-decoration: underline;
    color: #5a87b2;
  }
}

/* line 299, ../scss/app.scss */
.top-bar-section .dropdown li:not(.has-form):hover > a:not(.button) {
  -moz-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

/* line 302, ../scss/app.scss */
.top-bar-section .has-dropdown .dropdown li.has-dropdown > a::after {
  content: '';
}

@media (min-width: 63.438rem) {
  /* line 309, ../scss/app.scss */
  .top-bar-section .dropdown-our-services ul li {
    float: none;
  }
  /* line 311, ../scss/app.scss */
  .top-bar-section .dropdown-our-services ul li a {
    padding-right: 0 !important;
  }
  /* line 315, ../scss/app.scss */
  .top-bar-section .dropdown-our-services ul li.has-dropdown {
    float: left;
  }
  /* line 317, ../scss/app.scss */
  .top-bar-section .dropdown-our-services ul li.has-dropdown .dropdown {
    width: auto;
  }
  /* line 321, ../scss/app.scss */
  .top-bar-section .dropdown-our-services .nav-titles-only {
    padding-top: 20px;
    float: none;
    clear: both;
  }
}
@media (min-width: 63.438rem) and (min-width: 1260px) {
  /* line 321, ../scss/app.scss */
  .top-bar-section .dropdown-our-services .nav-titles-only {
    padding-top: 0;
    clear: none;
    float: left;
  }
}

@media (min-width: 63.438rem) {
  /* line 332, ../scss/app.scss */
  .top-bar-section .has-dropdown.dropdown-our-services > .dropdown.first-child {
    margin-bottom: 0;
    width: 460px;
  }
}
@media (min-width: 63.438rem) and (min-width: 1260px) {
  /* line 332, ../scss/app.scss */
  .top-bar-section .has-dropdown.dropdown-our-services > .dropdown.first-child {
    width: 612px;
  }
}

@media (min-width: 63.438rem) {
  /* line 339, ../scss/app.scss */
  .top-bar-section .dropdown-our-services .has-dropdown > .dropdown,
  .top-bar-section .dropdown-our-services .has-dropdown.not-click > .dropdown {
    display: block;
    position: relative !important;
    left: 0;
    clear: both;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
  }

  /* line 349, ../scss/app.scss */
  .top-bar-section .dropdown-our-services .has-dropdown {
    width: auto;
  }
}
/* line 356, ../scss/app.scss */
.top-bar-section .dropdown li:not(.has-form) a:not(.button).nav-title {
  width: auto;
}

/* line 429, ../scss/app.scss */
.header-main {
  background: $primary-color;
}

/* line 686, ../scss/app.scss */
.header-title {
  position: relative;
  margin-bottom: 1.5rem;
}
/* line 690, ../scss/app.scss */
.header-title h1 {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  color: #333;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
@media only screen and (min-width: 40.063em) {
  /* line 690, ../scss/app.scss */
  .header-title h1 {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}
/* line 701, ../scss/app.scss */
.header-title h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 705, ../scss/app.scss */
.header-title h4 {
  margin-top: 1rem;
}
/* line 708, ../scss/app.scss */
.header-title a {
  color: #a39f9e;
}
/* line 711, ../scss/app.scss */
.header-title a:hover {
  color: #145597;
}
@media only screen and (min-width: 64.063em) {
  /* line 714, ../scss/app.scss */
  .header-title.mar-bottom {
    margin-bottom: 2rem;
  }
}

/* line 720, ../scss/app.scss */
.header-photo-text {
  padding: 1rem 0 0.5rem;
}
@media only screen and (min-width: 64.063em) {
  /* line 720, ../scss/app.scss */
  .header-photo-text {
    position: absolute;
    bottom: 0;
    padding: 0 0.9375rem;
  }
}
/* line 727, ../scss/app.scss */
.header-photo-text h1 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
@media only screen and (min-width: 64.063em) {
  /* line 727, ../scss/app.scss */
  .header-photo-text h1 {
    color: #fff;
  }
}
/* line 734, ../scss/app.scss */
.header-photo-text h4 {
  margin-top: 0;
}


// ---- FOOTER ----
.footer-main {
  padding: 70px 0 80px;
  background: #333;
}

.footer-main h4 {
  color: #ddd;
}

.footer-main h4 a {
  color: #ddd;
}

.footer-main h4 a:hover {
  color: #145597;
}

.footer-main hr {
  margin-bottom: 0.75rem;
  border: 0;
  border-bottom: 1px solid #474747;
}

.footer-social {
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 4rem;
}

.footer-social a {
  display: inline-block;
  color: #fff;
}

.footer-social a:hover {
  color: #145597;
}

.footer-social .icon-youtube {
  padding: 0 0.5rem;
}

.footer-social .icon-youtube, .footer-social .icon-twitter {
  vertical-align: 0.2rem;
}

.footer-social .icon-googleplus {
  font-size: 1.5rem;
}

.list-footer {
  padding: 0 1.5rem 0 0;
  float: left;
  width: 50%;
}

@media only screen and (min-width: 30em) {
  .list-footer {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 40.063em) {
  .list-footer {
    width: auto;
  }
}

.list-footer ul {
  margin-left: 0;
  list-style: none;
  font-family: "Guardian TextSans Web", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-family: 500;
  font-size: 0.75rem;
}

.list-footer ul a {
  color: #999;
}

.list-footer ul a:hover {
  color: #145597;
}